<aside class="sidebar">
  <div class="photo-wrap">
    <img src="coniglio-dse-edt.jpg" alt="Stefano Coniglio">
  </div>
  <div class="sidebar-meta">
    <h1 class="name">Stefano Coniglio</h1>
    <p class="title">
      Associate Professor of Computer Science<br>
      Department of Economics<br>
      University of Bergamo
    </p>
    <ul class="contact">
      <li class="location">Bergamo, Italy</li>
      <li><a href="mailto:stefano.coniglio@unibg.it">Email</a></li>
      <li><a href="cv/cv_SC.pdf">Curriculum vitae (PDF)</a></li>
      <li><a href="https://unibg.unifind.cineca.it/individual?uri=http%3A%2F%2Firises.unibg.it%2Fresource%2Fperson%2F134388" rel="me">UniBg profile</a></li>
      <li><a href="https://scholar.google.com/citations?user=F9mrD0gAAAAJ" rel="me">Google Scholar</a></li>
      <li><a href="https://orcid.org/0000-0001-9568-4385" rel="me">ORCID</a></li>
      <li><a href="https://dblp.org/pid/00/7060.html" rel="me">DBLP</a></li>
      <li><a href="https://github.com/stefanoconiglio" rel="me">GitHub</a></li>
    </ul>
  </div>
</aside>
